* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Comfortaa-Light;
    src: url('./assets/fonts/Comfortaa-Light.ttf');
}

@font-face {
    font-family: Comfortaa-Regular;
    src: url('./assets/fonts/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: Comfortaa-Bold;
    src: url('./assets/fonts/Comfortaa-Bold.ttf');
}

body {
    margin: 0;
    font-family: Comfortaa-Light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(25, 30, 35);
    color: #eeeeee;
    text-align: center;
    width: 100vw;
    margin-bottom: 20px;
}

a {
    color: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
    filter: grayscale(30%);
}

a:active {
    text-decoration: none;
}

.nav {
    position: fixed;
    width: 100%;
    display: block;
    height: 100px;
    z-index: 99;
    transition: 0.4s;
}

.small {
    height: 74px;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav .hamburger {
    display: none;
}

.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.nav li {
    margin-top: auto;
    margin-bottom: auto;
}

.right li a,
.left .navtitle a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
}

.small .right li a,
.small .left .navtitle a {
    padding: 10px 11px;
}

.navtitle {
    margin-top: auto;
    margin-bottom: auto;
}

.left img {
    height: 100%;
}

@keyframes slideIn {
    to {
        transform: translate(0);
    }
}

.slide {
    position: relative;
    transform: translate(-300px);
    animation: slideIn 0.7s cubic-bezier(.18, .86, .54, 1.2);
    animation-fill-mode: forwards;
}

.left a {
    color: #0052ff;
    font-size: 46px;
    font-family: Comfortaa-Bold;
}

.small .left a {
    font-size: 36px;
}

.left {
    float: left;
    height: 100%;
}

.right a {
    font-size: 30px;
}

.small .right a {
    font-size: 25px;
}

.right {
    float: right;
    height: 100%;
}

.main {
    display: flex;
    text-align: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main h1 {
    font-size: 50px;
}

.main-contact {
    display: flex;
    text-align: center;
    height: 100vh;
    flex-flow:column wrap;
    justify-content: center;
}

.main-contact h1 {
    font-size: 50px;
}

.main-about {
    display: flex;
    text-align: center;
    height: 100vh;
    flex-flow:column wrap;
    justify-content: center;
}

.main-about h1 {
    font-size: 50px;
}

.main-services {
    display: flex;
    text-align: center;
    height: 100vh;
    flex-flow:column wrap;
    justify-content: center;
}

.main-services h1 {
    font-size: 50px;
}

.container {
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footercontainer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.links a {
    margin: 10px;
}

.socials div {
    width: 36px;
    padding: auto;
    margin: 5px;
}

.socials img {
    height: 24px;
}

@media only screen and (max-width: 950px) {
    .nav {}

    .footercontainer div {
        margin: 8px;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }

    .line {
        width: 25px;
        height: 3px;
        background: white;
        margin: 5px;
        border-radius: 1.5px;
        transform-origin: 100% 50%;
    }

    .topline {
        transform: translate(0, 0);
        transition: all 0.5s ease-out;
    }

    .open .topline {
        transform: rotate(-45deg) translate(0, -1.3px);
        transition: all 0.5s ease-out;
    }

    .middleline {
        opacity: 1;
        transition: all 0.5s ease-out;
    }

    .open .middleline {
        opacity: 0;
        transition: all 0.5s ease-out;
    }

    .bottomline {
        transform: translate(0, 0);
        transition: all 0.5s ease-out;
    }

    .open .bottomline {
        transform: rotate(45deg) translate(0, 1.3px);
        transition: all 0.5s ease-out;
    }

    .nav .right {
        z-index: -1;
        opacity: 0;
        position: fixed;
        height: 40%;
        width: 80%;
        flex-direction: column;
        background-color: rgba(50, 50, 50, 0.99);
        margin-top: 81px;
        margin-right: 10%;
        margin-left: 10%;
        transition: all 0.5s ease-out;
        border-radius: 20px;
    }

    .nav .open {
        z-index: 2;
        opacity: 1;
        transition: all 0.5s ease-out;
    }

    .nav .right li {
        padding-right: 40px;
        padding-left: 40px;
    }

    .nav .right .nationsnav {
        transform: translate(0, -81px);
        transition: all 0.5s ease-out;
    }

    .nav .open .nationsnav {
        transform: translate(0, 0);
        transition: all 0.5s ease-out;
    }

    .nav .right .companiesnav {
        transform: translate(0, -142px);
        transition: all 0.5s ease-out;
    }

    .nav .open .companiesnav {
        transform: translate(0, 0);
        transition: all 0.5s ease-out;
    }

    .nav .right .communitiesnav {
        transform: translate(0, -203px);
        transition: all 0.5s ease-out;
    }

    .nav .open .communitiesnav {
        transform: translate(0, 0);
        transition: all 0.5s ease-out;
    }

    .nav .hamburger {
        display: block;
    }
}