* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Comfortaa-Light;
    src: url('./assets/fonts/Comfortaa-Light.ttf');
}

@font-face {
    font-family: Comfortaa-Regular;
    src: url('./assets/fonts/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: Comfortaa-Bold;
    src: url('./assets/fonts/Comfortaa-Bold.ttf');
}

body {
    margin: 0;
    font-family: Comfortaa-Light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(25, 30, 35);
    color: #eeeeee;
    text-align: center;
    width: 100vw;
}

a {
    color: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
}

.nav {
    position: fixed;
    width: 100%;
    display: block;
    height: 100px;
    z-index: 99;
    transition: 0.4s;
}

.small {
    height: 74px;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav .hamburger {
    display: none;
}

.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.nav li {
    margin-top: auto;
    margin-bottom: auto;
}

.right li a,
.left .navtitle a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
}

.small .right li a,
.small .left .navtitle a {
    padding: 10px 11px;
}

.navtitle {
    margin-top: auto;
    margin-bottom: auto;
}

.left img {
    height: 100%;
}

@keyframes slideIn {
    to {
        transform: translate(0);
    }
}

.slide {
    position: relative;
    transform: translate(-300px);
    animation: slideIn 0.7s cubic-bezier(.18, .86, .54, 1.2);
    animation-fill-mode: forwards;
}

.left a {
    color: #0052ff;
    font-size: 46px;
    font-family: Comfortaa-Bold;
}

.small .left a {
    font-size: 36px;
}

.left {
    float: left;
    height: 100%;
}

.right a {
    font-size: 30px;
}

.small .right a {
    font-size: 25px;
}

.right {
    float: right;
    height: 100%;
}

.main {
    display: flex;
    text-align: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main h1 {
    font-size: 50px;
}

.container {
    text-align: center;
}

.socials img {
    height: 24px;
}